<form method="post" id="create-form" action="/create">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <p>One click e-mail account generation</p>

    <h1 class="display-3">
        <button type="submit" class="btn btn-primary"><span class="oi oi-plus" title="Ethereal"
                aria-hidden="true"></span> Create Ethereal Account</button>
    </h1>

</form>