<div class="jumbotron">
    <h1 class="display-3">Ethereal</h1>
    <p class="lead">
        <strong>Ethereal</strong> is an email testing platform for <a href="https://nodemailer.com/">Nodemailer</a>. You can generate a vanity email account right from Nodemailer, send an email using that account just like you would use any other email sending service and finally preview the sent message here as no emails are actually delivered, all messages are stored to the Ethereal account and no message never leaves the system.
    </p>
</div>

{{{page}}}
